<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <%= cl_image_tag("cld-sample",
      width: 400, height: 300, crop: :fill) %>
  <% end %>
</ul>

<p><%= link_to "Add a new list", new_list_path %></p>